@using CourtJustice.Domain.ViewModels;
@model IEnumerable<AssetLandViewModel>;
@{
    Layout = null;

}
<a class="btn btn-success btn-sm text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","AssetLands",null,Context.Request.Scheme)','เพิ่มข้อมูลที่ดิน')"><i class="fa fa-plus"></i> Create New</a>
<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.AssetLandId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                  <th>
                    @Html.DisplayNameFor(model => model.EstimatePrice)
                </th>
         
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetLandId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                       <td>
                        @Html.DisplayFor(modelItem => item.EstimatePrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>