@using CourtJustice.Domain.ViewModels;
@model IEnumerable<AssetLandViewModel>;
@{
    Layout = null;

}
<a class="btn btn-success btn-sm text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","AssetLands",null,Context.Request.Scheme)','เพิ่มข้อมูลที่ดิน')"><i class="fa fa-plus"></i> Create New</a>
<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.AssetLandId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimatePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandOfficeName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetLandId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressDetail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LandOfficeName)
                    </td>
                    <td class="w150">
                        <div class="d-inline">
                            <a class="btn btn-sm btn-primary text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","AssetLands",new {id=item.AssetLandId},Context.Request.Scheme)','แก้ไขข้อมูลที่ดิน')"><i class='fa fa-edit'></i></a>
                            <a class="btn btn-sm btn-danger text-white" onclick="confirmDelete('@item.AssetLandId');"><i class='fa fa-trash'></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>