@using CourtJustice.Domain.Models
@model IEnumerable<AssetLand>


<div class="table-responsive">
    <table class="table table-bordered table-hover data-table" id="tbl_assetland">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.AssetLandId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Gps)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandOffice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>