@using CourtJustice.Domain.ViewModels;
@model IEnumerable<AssetCarViewModel>;
@{
    Layout = null;

}
<a class="btn btn-success btn-sm text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","AssetCars",null,Context.Request.Scheme)','เพิ่มข้อมูลรถ')"><i class="fa fa-plus"></i> Create New</a>

<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.ChassisNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EngineNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimatePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LicensePlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarType.CarTypeName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ChassisNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EngineNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicensePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarType.CarTypeName)
                    </td>
                    <td class="w150">
                        <div class="d-inline">
                            <a class="btn btn-sm btn-primary text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","AssetCars",new {id=item.ChassisNumber},Context.Request.Scheme)','แก้ไขข้อมูลรถ')"><i class='fa fa-edit'></i></a>
                            <a class="btn btn-sm btn-danger text-white" onclick="confirmDeleteAssetCar('@Url.Action("Delete","AssetCars",new {id=item.ChassisNumber},Context.Request.Scheme)');"><i class='fa fa-trash'></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>