@using CourtJustice.Domain.ViewModels;
@model IEnumerable<AssetLandViewModel>;
@{
    Layout = null;

}

<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.AssetLandId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                  <th>
                    @Html.DisplayNameFor(model => model.EstimatePrice)
                </th>
         
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetLandId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                       <td>
                        @Html.DisplayFor(modelItem => item.EstimatePrice)
                    </td>

             
                </tr>
            }
        </tbody>
    </table>
</div>