@using CourtJustice.Domain.ViewModels;
@model LoaneeViewModel
@{
    Layout = null;
    ViewData["Title"] = "รายละเอียดลูกหนี้";
}
<input type="hidden" id="txtCusId"/>
<div class="row">
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
</div>

@*<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-3">@ViewData["Title"]: @Model?.Name</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.LoanNumber)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.LoanNumber)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.CusId)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.CusId)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.LoanNumber)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.LoanNumber)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.CusId)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.CusId)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.LoanNumber)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.LoanNumber)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.CusId)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.CusId)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.LoanNumber)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.LoanNumber)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.CusId)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.CusId)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>*@