@using CourtJustice.Domain.ViewModels;
@model LoaneeViewModel
@{
    Layout = null;
    ViewData["Title"] = "รายละเอียดลูกหนี้";
}
<div class="row">
    <a href="#" class="btn btn-info" onclick="return showNotice('@Url.Action("ShowNotice","Loanees",new {id=Model.CusId})')" target="_blank">Notice</a>
</div>
<div class="row">
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CusId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CusId)
            </dd>
        </dl>
    </div>
</div>

