@using CourtJustice.Domain.ViewModels;
@model LoaneeViewModel
@{
    Layout = null;
    ViewData["Title"] = "รายละเอียดลูกหนี้";
    //var firstPaidDate = Model.FirstPaidDate == DateTime.MinValue ? "" : Model.FirstPaidDate.ToString("dd-MM-yyyy");
    //var lastPaidDate = Model.LastPaidDate == DateTime.MinValue ? "" : Model.LastPaidDate.ToString("dd-MM-yyyy");
    //var dueDate = Model.DueDate == DateTime.MinValue ? "" : Model.DueDate.ToString("dd-MM-yyyy");
    //var followUpDate = Model.FollowUpDate == DateTime.MinValue ? "" : Model.FollowUpDate.ToString("dd-MM-yyyy");
    //var cpDate = Model.CPDate == DateTime.MinValue ? "" : Model.CPDate.ToString("dd-MM-yyyy");
    //var woDate = Model.WODate == DateTime.MinValue ? "" : Model.WODate.ToString("dd-MM-yyyy");

    var firstPaidDate = Model.FirstPaidDate;
    var lastPaidDate =Model.LastPaidDate;
    var dueDate =Model.DueDate;
    var followUpDate = Model.FollowUpDate;
    var cpDate =  Model.CPDate;
    var woDate =  Model.WODate;

    bool isEditable = ViewBag.IsEditable;
}
<style>
    .form-group {
        margin-bottom: 0.0rem !important;
    }

    .form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
        height: 30px !important;
    }

        select.form-control, select.asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row select, .select2-container--default select.select2-selection--single, .select2-container--default .select2-selection--single select.select2-search__field, select.typeahead, select.tt-query, select.tt-hint {
            padding: .0rem .75rem !important;
        }
        .tab-content {
        padding: 1rem 1rem !important;
}
</style>

<div class="row">
    <div class="col-md-12 mb-3 d-flex flex-wrap justify-content-end">
        @{
            @if (@isEditable)
            {

                <input type="button" value="บันทึกข้อมูล" class="btn btn-primary btn-sm mr-2" onclick="return updateLoanee();" />
            }
        }
        <a href="#" class="btn btn-warning btn-sm mr-2" onclick="return showNotice('@Url.Action("ShowNotice","Loanees",new {id=Model.CusId})')" target="_blank">ออก Notice</a>
        <a href="#" class="btn btn-info btn-sm mr-2" onclick="return showNotice('@Url.Action("ShowNotice","Loanees",new {id=Model.CusId})')" target="_blank">ขออนุมัติฟ้อง-เอกสาร</a>
        <a href="#" class="btn btn-info btn-sm mr-2" onclick="return showNotice('@Url.Action("ShowNotice","Loanees",new {id=Model.CusId})')" target="_blank">ขออนุมัติส่วนลด-เอกสาร</a>
        <a href="#" class="btn btn-danger btn-sm" onclick="return navigateTo('@Url.Action("Create","JusticeCase",new {id=Model.CusId})')">ฟ้องคดี</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="ContractNo" class="control-label"></label>
                    <input asp-for="ContractNo" class="form-control" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="ContractDate" class="control-label"></label>
                    <input type="text" class="form-control dateonly" asp-for="ContractDate" id="txtContractDate" asp-format="{0:dd-MM-yyyy}" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="CusId" class="control-label"></label>
                    <input asp-for="CusId" class="form-control" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" id="txtName" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label" asp-for="LoanTypeCode"></label>
                    <select class="form-control dropdown" id="ddlLoanTypes" asp-for="LoanTypeCode" asp-items="@ViewBag.LoanTypes">
                    </select>
                </div>
        @*        <div class="form-group col-md-2">
                    <label class="control-label">อาชีพ</label>
                    <select class="form-control dropdown" id="ddlOccupations" asp-for="OccupationId" asp-items="@ViewBag.Occupations">
                    </select>
                </div>*@
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="HomeAddress1" class="control-label"></label>
                    <input asp-for="HomeAddress1" class="form-control" id="txtHomeAddress1" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="HomeAddress2" class="control-label"></label>
                    <input asp-for="HomeAddress2" class="form-control" id="txtHomeAddress2" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="HomeAddress3" class="control-label"></label>
                    <input asp-for="HomeAddress3" class="form-control" id="txtHomeAddress3" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="HomeAddress4" class="control-label"></label>
                    <input asp-for="HomeAddress4" class="form-control" id="txtHomeAddress4" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="TelephoneHome" class="control-label"></label>
                    <input asp-for="TelephoneHome" class="form-control" id="txtTelephoneHome" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="MobileHome" class="control-label"></label>
                    <input asp-for="MobileHome" class="form-control" id="txtMobileHome" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="IdenAddress1" class="control-label"></label>
                    <input asp-for="IdenAddress1" class="form-control" id="txtIdenAddress1" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="IdenAddress2" class="control-label"></label>
                    <input asp-for="IdenAddress2" class="form-control" id="txtIdenAddress2" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="IdenAddress3" class="control-label"></label>
                    <input asp-for="IdenAddress3" class="form-control" id="txtIdenAddress3" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="IdenAddress4" class="control-label"></label>
                    <input asp-for="IdenAddress4" class="form-control" id="txtIdenAddress4" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="MobileEmg" class="control-label"></label>
                    <input asp-for="MobileEmg" class="form-control" id="txtMobileEmg" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" id="txtCompanyName" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" id="txtSalary" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="OccupationName" class="control-label"></label>
                    <input asp-for="OccupationName" class="form-control" id="txtOccupationName" />
                </div>
  
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="OfficeAddress1" class="control-label"></label>
                    <input asp-for="OfficeAddress1" class="form-control" id="txtOfficeAddress1" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="OfficeAddress2" class="control-label"></label>
                    <input asp-for="OfficeAddress2" class="form-control" id="txtOfficeAddress2" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="OfficeAddress3" class="control-label"></label>
                    <input asp-for="OfficeAddress3" class="form-control" id="txtOfficeAddress3" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="OfficeAddress4" class="control-label"></label>
                    <input asp-for="OfficeAddress4" class="form-control" id="txtOfficeAddress4" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="TelephoneOffice" class="control-label"></label>
                    <input asp-for="TelephoneOffice" class="form-control" id="txtTelephoneOffice" />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="MobileOffice" class="control-label"></label>
                    <input asp-for="MobileOffice" class="form-control" id="txtMobileOffice" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label" asp-for="EmployerName"></label>
                    <input asp-for="EmployerName" class="form-control" readonly />
                    @*           <select class="form-control dropdown" id="ddlEmployer" asp-for="EmployerCode" asp-items="@ViewBag.Employers">
                    </select>*@
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label" asp-for="EmployeeCode"></label>
                    <input asp-for="EmployeeCode" class="form-control" readonly />
         @*           <select class="form-control dropdown" id="ddlEmployees" asp-for="EmployeeCode" asp-items="@ViewBag.Employees">
                    </select>*@
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label" asp-for="BucketId"></label>
                    <select class="form-control dropdown" id="ddlBuckets" asp-for="BucketId" asp-items="@ViewBag.Buckets">
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label" asp-for="LoanTaskStatusId"></label>
                    <select class="form-control dropdown" id="ddlLoanTaskStatus" asp-for="LoanTaskStatusId" asp-items="@ViewBag.LoanTaskStatus">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="WODate" class="control-label"></label>
                    <input type="text" class="form-control dateonly" id="txtWODate" value="@woDate" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Term" class="control-label"></label>
                    <input asp-for="Term" class="form-control" type="number" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="LoanAmount" class="control-label"></label>
                    <input asp-for="LoanAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="WOBalance" class="control-label"></label>
                    <input asp-for="WOBalance" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="InstallmentsByContract" class="control-label"></label>
                    <input asp-for="InstallmentsByContract" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="InstallmentsByAgree" class="control-label"></label>
                    <input asp-for="InstallmentsByAgree" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="OverdueAmount" class="control-label"></label>
                    <input asp-for="OverdueAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="TotalPenalty" class="control-label"></label>
                    <input asp-for="TotalPenalty" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="ClosingAmount" class="control-label"></label>
                    <input asp-for="ClosingAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="RcvAmtStatus" class="control-label"></label>
                    <input asp-for="RcvAmtStatus" class="form-control" type="text" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="RcvAmtBeforeWO" class="control-label"></label>
                    <input asp-for="RcvAmtBeforeWO" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="RcvAmtAfterWO" class="control-label"></label>
                    <input asp-for="RcvAmtAfterWO" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="FirstPaidDate" class="control-label"></label>
                    <input type="text" class="form-control dateonly" id="txtFirstPaidDate" value="@firstPaidDate" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="LastPaidAmount" class="control-label"></label>
                    <input asp-for="LastPaidAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="LastPaidDate" class="control-label"></label>
                    <input type="text" class="form-control dateonly" id="txtLastPaidDate" value="@lastPaidDate" readonly />
                </div>

                <div class="form-group col-md-2">
                    <label asp-for="DueDate" class="control-label"></label>
                    <input type="text" class="form-control dateonly" id="txtDueDate" value="@dueDate" readonly />

                </div>
                <div class="form-group col-md-2">
                    <label asp-for="FollowUpDate" class="control-label"></label>
                    <input type="text" class="form-control dateonly" id="txtFollowUpDate" value="@followUpDate" readonly />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="IntereteRate" class="control-label"></label>
                    <input asp-for="IntereteRate" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="IntereteRateAmount" class="control-label"></label>
                    <input asp-for="IntereteRateAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="PaidAmount" class="control-label"></label>
                    <input asp-for="PaidAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="PaidInMonthAmount" class="control-label"></label>
                    <input asp-for="PaidInMonthAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="TotalAmount" class="control-label"></label>
                    <input asp-for="TotalAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="RemainingAmount" class="control-label"></label>
                    <input asp-for="RemainingAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label asp-for="CPCase" class="control-label"></label>
                    <input asp-for="CPCase" class="form-control" type="text" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="NoOfCP" class="control-label"></label>
                    <input asp-for="NoOfCP" class="form-control" type="number" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="CPDate" class="control-label"></label>
                    <input type="text" class="form-control dateonly" id="txtCPDate" value="@cpDate" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="OAFee" class="control-label"></label>
                    <input asp-for="OAFee" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="MaxOAFeeAmount" class="control-label"></label>
                    <input asp-for="MaxOAFeeAmount" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="MaxOAFeeBalance" class="control-label"></label>
                    <input asp-for="MaxOAFeeBalance" class="form-control" type="number" step="0.01" min="0" readonly />
                </div>
            </div>

        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
            @*        <li class="nav-item">
            <a class="nav-link active" id="loanee-tab" data-toggle="tab" href="#loanee-1" role="tab" aria-controls="loanee-1" aria-selected="true">รายละเอียดลูกหนี้</a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link active" id="remark-tab" data-toggle="tab" role="tab" href="#remark-1" aria-controls="remark-1" aria-selected="false" onclick="showRemarkTab('@Url.Action("GetByCusId","LoaneeRemarks")')">รายงานผลการติดตาม</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="asset-land-tab" data-toggle="tab" role="tab" href="#asset-land-1" aria-controls="asset-land-1" aria-selected="false" onclick="showAssetLandTab('@Url.Action("GetByCusId","AssetLands")');">หลักทรัพย์(ที่ดิน)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="asset-car-tab" data-toggle="tab" role="tab" href="#asset-car-1" aria-controls="asset-car-1" aria-selected="false" onclick="showAssetCarTab('@Url.Action("GetByCusId","AssetCars")');">หลักทรัพย์(รถ)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="asset-salary-tab" data-toggle="tab" role="tab" href="#asset-salary-1" aria-controls="asset-salary-1" aria-selected="false" onclick="showAssetSalaryTab('@Url.Action("GetByCusId","AssetSalaries")');">หลักทรัพย์(เงืนเดือน)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="payment-tab" data-toggle="tab" role="tab" href="#payment-1" aria-controls="payment-1" aria-selected="false" onclick="showPaymentTab('@Url.Action("GetByCusId","Payments")')">การชำระ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="guarantor-tab" data-toggle="tab" role="tab" href="#guarantor-1" aria-controls="guarantor-1" aria-selected="false" onclick="showGuaratorTab('@Url.Action("GetByCusId","Guarantors")')">ผู้ค้ำประกัน</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="referencer-tab" data-toggle="tab" role="tab" href="#referencer-1" aria-controls="referencer-1" aria-selected="false" onclick="showReferencerTab('@Url.Action("GetByCusId","Referencers")')">บุคคลอ้างอิง</a>
            </li>

        </ul>
        <div class="tab-content">
            @*      <div class="tab-pane fade show active" id="loanee-1" role="tabpanel" aria-labelledby="loanee-tab">
            </div>*@
            <div class="tab-pane fade show active" id="remark-1" role="tabpanel" aria-labelledby="remark-tab">
                <div class="row">
                    <div id="view-remark">
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="asset-land-1" role="tabpanel" aria-labelledby="asset-land-tab">
                <div class="row">
                    <div id="view-asset-land">
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="asset-car-1" role="tabpanel" aria-labelledby="asset-car-tab">
                <div class="row">
                    <div id="view-asset-car">
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="asset-salary-1" role="tabpanel" aria-labelledby="asset-salary-tab">
                <div class="row">
                    <div id="view-asset-salary">
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="payment-1" role="tabpanel" aria-labelledby="payment-tab">
                <div class="row">
                    <div id="view-payment">
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="guarantor-1" role="tabpanel" aria-labelledby="guarantor-tab">
                <div class="row">
                    <div id="view-guarantor">
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="referencer-1" role="tabpanel" aria-labelledby="referencer-tab">
                <div class="row">
                    <div id="view-referencer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>

    //$(function () {
    //    $('.dateonly').datetimepicker({
    //        timepicker: false,
    //        format: 'd-m-Y',
    //        closeOnDateSelect: true
    //    });
    //});
</script>