@using CourtJustice.Domain.ViewModels;
@model IEnumerable<LoaneeViewModel>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tbl_loanee">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.CusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OccupationName)
                </th>
 
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>