@using CourtJustice.Domain.Models;
@model Loanee

@{
    ViewData["Title"] = "ข้อมูลลูกหนี้";
    var showAddressSetLookupUrl = @Url.Action("IndexAddressSetLookup", "AddressSets");
    var getAddressSetLookupUrl = @Url.Action("GetWithPaging", "AddressSets");
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">เพิ่ม @ViewData["Title"]</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <input asp-for="AddressId" class="form-control col-md-2" type="hidden" />
                            <input asp-for="Address1Id" class="form-control col-md-2" type="hidden" />
                            <input asp-for="Address2Id" class="form-control col-md-2" type="hidden" />


                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label asp-for="LoanNumber" class="control-label"></label>
                                    <input asp-for="LoanNumber" class="form-control" />
                                    <span asp-validation-for="LoanNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="CusId" class="control-label"></label>
                                    <input asp-for="CusId" class="form-control" />
                                    <span asp-validation-for="CusId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-2">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label" asp-for="LoanTypeCode"></label>
                                    <select class="form-control dropdown" id="ddlLoanTypes" asp-for="LoanTypeCode" asp-items="@ViewBag.LoanTypes">
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">อาชีพ</label>
                                    <select class="form-control dropdown" id="ddlOccupations" asp-for="OccupationId" asp-items="@ViewBag.Occupations">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">ที่อยู่ตาม ทร.</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" asp-for="Address" />
                                        <span asp-validation-for="Address" class="text-danger"></span>

                                        <span class="input-group-append">
                                            <a href="#" onclick="showLookup('0','@showAddressSetLookupUrl','@getAddressSetLookupUrl');" class="btn btn-primary text-white">...</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.SubDistrictName" class="control-label"></label>
                                    <input id="txtSubdistrict" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.DistrictName" class="control-label"></label>
                                    <input id="txtDistrict" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.ProvinceName" class="control-label"></label>
                                    <input id="txtProvince" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-1">
                                    <label asp-for="AddressSet.PostalCode" class="control-label"></label>
                                    <input id="txtPostalCode" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">ที่อยู่(1)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" asp-for="Address1" />
                                        <span class="input-group-append">
                                            <a href="#" onclick="showLookup('1','@showAddressSetLookupUrl','@getAddressSetLookupUrl');" class="btn btn-primary text-white">...</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.SubDistrictName" class="control-label"></label>
                                    <input id="txtSubdistrict1" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.DistrictName" class="control-label"></label>
                                    <input id="txtDistrict1" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.ProvinceName" class="control-label"></label>
                                    <input id="txtProvince1" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-1">
                                    <label asp-for="AddressSet.PostalCode" class="control-label"></label>
                                    <input id="txtPostalCode1" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label">ที่อยู่(2)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" asp-for="Address2" />
                                        <span class="input-group-append">
                                            <a href="#" onclick="showLookup('2','@showAddressSetLookupUrl','@getAddressSetLookupUrl');" class="btn btn-primary text-white">...</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.SubDistrictName" class="control-label"></label>
                                    <input id="txtSubdistrict2" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.DistrictName" class="control-label"></label>
                                    <input id="txtDistrict2" class="form-control" readonly />
                                </div>

                                <div class="form-group col-md-2">
                                    <label asp-for="AddressSet.ProvinceName" class="control-label"></label>
                                    <input id="txtProvince2" class="form-control" readonly />
                                </div>
                                <div class="form-group col-md-1">
                                    <label asp-for="AddressSet.PostalCode" class="control-label"></label>
                                    <input id="txtPostalCode2" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label class="control-label" asp-for="EmployerCode"></label>
                                    <select class="form-control dropdown" id="ddlEmployer" asp-for="EmployerCode" asp-items="@ViewBag.Employers">
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label" asp-for="EmployeeCode"></label>
                                    <select class="form-control dropdown" id="ddlEmployees" asp-for="EmployeeCode" asp-items="@ViewBag.Employees">
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label" asp-for="BucketId"></label>
                                    <select class="form-control dropdown" id="ddlBuckets" asp-for="BucketId" asp-items="@ViewBag.Buckets">
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="InstallmentsByContract" class="control-label"></label>
                                    <input asp-for="InstallmentsByContract" class="form-control" type="number" step="0.01" min="0" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="InstallmentsByAgree" class="control-label"></label>
                                    <input asp-for="InstallmentsByAgree" class="form-control" type="number" step="0.01" min="0" />
                                </div>

                            </div>
                            <div class="row">

                                <div class="form-group col-md-2">
                                    <label asp-for="LastPaidDate" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="LastPaidDate" id="txtLastPaidDate" asp-format="{0:dd-MM-yyyy}" />

                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="FirstPaidDate" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="FirstPaidDate" id="txtFirstPaidDate" asp-format="{0:dd-MM-yyyy}" />

                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="DueDate" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="DueDate" id="txtDueDate" asp-format="{0:dd-MM-yyyy}" />

                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="FollowUpDate" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="FollowUpDate" id="txtFollowUpDate" asp-format="{0:dd-MM-yyyy}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label asp-for="IntereteRate" class="control-label"></label>
                                    <input asp-for="IntereteRate" class="form-control" type="number" step="0.01" min="0" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="IntereteRateAmount" class="control-label"></label>
                                    <input asp-for="IntereteRateAmount" class="form-control" type="number" step="0.01" min="0" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="OverdueAmount" class="control-label"></label>
                                    <input asp-for="OverdueAmount" class="form-control" type="number" step="0.01" min="0" />
                                </div>

                                <div class="form-group col-md-2">
                                    <label asp-for="PaidAmount" class="control-label"></label>
                                    <input asp-for="PaidAmount" class="form-control" type="number" step="0.01" min="0" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="PaidInMonthAmount" class="control-label"></label>
                                    <input asp-for="PaidInMonthAmount" class="form-control" type="number" step="0.01" min="0" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="TotalAmount" class="control-label"></label>
                                    <input asp-for="TotalAmount" class="form-control" type="number" step="0.01" min="0" />
                                </div>
                            </div>
                            <div class="row">
                      
                                <div class="form-group col-md-2">
                                    <label asp-for="RemainingAmount" class="control-label"></label>
                                    <input asp-for="RemainingAmount" class="form-control" type="number" step="0.01" min="0" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="OverdueDayAmount" class="control-label"></label>
                                    <input asp-for="OverdueDayAmount" class="form-control" type="number" />
                                </div>
                            </div>

                    @*        <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                </label>
                            </div>*@


                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-light">Back</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Basic Tab</h4>
                <p class="card-description">Horizontal bootstrap tab</p>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home-1" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile-1" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-1" role="tab" aria-controls="contact-1" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                        <div class="media">
                            <img class="mr-3 w-25 rounded" src="https://via.placeholder.com/115x115" alt="sample image">
                            <div class="media-body">
                                <h4 class="mt-0">Why choose us?</h4>
                                <p>
                                    Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted
                                    consulted elsewhere happiness disposing household any old the. Widow downs you new shade drift hopes
                                    small. So otherwise commanded sweetness we improving. Instantly by daughters resembled unwilling principle
                                    so middleton.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="media">
                            <img class="mr-3 w-25 rounded" src="https://via.placeholder.com/115x115" alt="sample image">
                            <div class="media-body">
                                <h4 class="mt-0">John Doe</h4>
                                <p>
                                    Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two unpleasing
                                    any add. Ashamed my company thought wishing colonel it prevent he in. Pretended residence are something
                                    far engrossed old off.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
                        <h4>Contact us </h4>
                        <p>
                            Feel free to contact us if you have any questions!
                        </p>
                        <p>
                            <i class="mdi mdi-phone text-info"></i>
                            +123456789
                        </p>
                        <p>
                            <i class="mdi mdi-email-outline text-success"></i>
                            contactus@example.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
@Html.Hidden("hdGetAddressSetById",Url.Action("GetAddressById","AddressSets"))
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/pages/address_lookup.js" asp-append-version="true"></script>
        <script src="~/js/pages/loanee.js" asp-append-version="true"></script>
    }
}
