@using CourtJustice.Domain.ViewModels;
@model LoaneeViewModel
@{
    ViewData["Title"] = "ข้อมูลลูกหนี้";
    bool isEditable = ViewBag.IsEditable;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">@ViewData["Title"]</h3>
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label">ผู้ว่าจ้าง</label>
                                <select id="ddlEmployerFilter" class="form-control" asp-items="ViewBag.Employers"></select>
                            </div>
                            <div class="form-group ml-4">
                                <label class="control-label">กลุ่มงาน</label>
                                <select id="ddlLoanTaskStatusFilter" class="form-control" asp-items="ViewBag.LoanTaskStatus"></select>
                            </div>
                            <div class="form-group ml-4">
                                <a onclick="getLoanee();" class="btn btn-primary btn-sm text-white"><i class="fa fa-refresh"></i> Show Data</a>
                            </div>
                            @{
                                @if (@isEditable)
                                {
                                    <div class="form-group ml-4">
                                        <a asp-action="IndexImport" class="btn btn-info btn-sm text-white ml-2"><i class="fa fa-file-excel-o"></i> Import</a>
                                    </div>
                                    <div class="form-group ml-4">
                                        <a asp-action="IndexCancelImport" class="btn btn-warning btn-sm text-white ml-2"><i class="fa fa-file-excel-o"></i> ยกเลิก Import</a>
                                    </div>
                                }
                            }
                            <div class="form-group ml-4">
                                <a class="btn btn-success btn-sm text-white" onclick="showInPopupXL('@Url.Action("IndexImport","LoaneeRemarks",null,Context.Request.Scheme)','import รายงายผลการติดตาม')"><i class="fa fa-file-excel-o"></i> import รายงายผลการติดตาม</a>
                            </div>
                            <div class="form-group ml-4">
                                <a class="btn btn-success btn-sm text-white" onclick="showInPopupXL('@Url.Action("IndexImport","Payments",null,Context.Request.Scheme)','import การชำระ')"><i class="fa fa-file-excel-o"></i> import การชำระ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="view-table">
                    @await Html.PartialAsync("_ViewTable", Model)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 id="lblCustomerName" class="card-title"></h4>
                <div id="view-loanee">
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Hidden("txtCusId")
@Html.Hidden("hdDeleteRoute", Url.Action("Delete", "Loanees"))
@Html.Hidden("hdGetWithPaging", Url.Action("GetWithPaging", "Loanees"))
@Html.Hidden("hdUpdateLoanee", Url.Action("UpdateLoanee", "Loanees"))
@Html.Hidden("hdUpdateLoaneeByCollector", Url.Action("UpdateLoaneeByCollector", "Loanees"))
@Html.Hidden("hdGetLoaneeByKey", Url.Action("GetLoaneeByKey", "Loanees"))

@section scripts{
    <script src="~/js/pages/address_lookup.js" asp-append-version="true"></script>
    <script src="~/js/pages/loanee.js" asp-append-version="true"></script>
    <script src="~/js/pages/asset_land.js" asp-append-version="true"></script>
    <script src="~/js/pages/payment.js" asp-append-version="true"></script>
    <script src="~/js/pages/asset_car.js" asp-append-version="true"></script>
    <script src="~/js/pages/asset_salary.js" asp-append-version="true"></script>
    <script src="~/js/pages/guarantor.js" asp-append-version="true"></script>
    <script src="~/js/pages/referencer.js" asp-append-version="true"></script>
    <script src="~/js/pages/loanee_remark.js" asp-append-version="true"></script>
    <script src="~/js/pages/upload_with_progress.js" asp-append-version="true"></script>
}
