@using CourtJustice.Domain.ViewModels;
@using CourtJustice.Infrastructure.Utils;
@using System.Globalization;
@model IEnumerable<LoaneeRemarkExcelViewModel>
@{
    Layout = null;
    var cultureInfor = new CultureInfo("th-TH");
}
<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">

                <th class="text-nowrap">CUSTOMER CODE</th>
                <th class="text-nowrap">ID</th>
                <th class="text-nowrap">CUSTOMER NAME</th>
                <th class="text-nowrap">CONTRACT NO</th>
                <th class="text-nowrap">BANK ACTION CODE</th>
                <th class="text-nowrap">BANK ACTION NAME</th>
                <th class="text-nowrap">BANK RESULT CODE </th>
                <th class="text-nowrap">BANK RESULT NAME</th>
                <th class="text-nowrap">PERSON CODE</th>
                <th class="text-nowrap">PERSON CODE NAME</th>
                <th class="text-nowrap">COMPANY ACTION CODE</th>
                <th class="text-nowrap">COMPANY ACTION NAME</th>
                <th class="text-nowrap">COMPANY RESULT CODE</th>
                <th class="text-nowrap">COMPANY RESULT NAME</th>
                <th class="text-nowrap">FOLLOW CONTRACT NO</th>
                <th class="text-nowrap">APPOINTMENT DATE</th>
                <th class="text-nowrap">AMOUNT</th>
                <th class="text-nowrap">APPOINTMENT CONTRACT</th>
                <th class="text-nowrap">REMARK</th>
                <th class="text-nowrap">WORK GROUP</th>
                <th class="text-nowrap">COLLECTOR</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
 
                    <td class="text-nowrap">@item.CusId</td>
                    <td class="text-nowrap">@item.NationalityId</td>
                    <td class="text-nowrap">@item.CusName</td>
                    <td class="text-nowrap">@item.ContractNo</td>
                    <td class="text-nowrap">@item.BankActionCodeId</td>
                    <td class="text-nowrap">@item.BankActionCodeName</td>
                    <td class="text-nowrap">@item.BankResultCodeId</td>
                    <td class="text-nowrap">@item.BankResultCodeName</td>
                    <td class="text-nowrap">@item.BankPersonCodeId</td>
                    <td class="text-nowrap">@item.BankPersonCodeName</td>
                    <td class="text-nowrap">@item.CompanyActionCodeId</td>
                    <td class="text-nowrap">@item.CompanyActionCodeName</td>
                    <td class="text-nowrap">@item.CompanyResultCodeId</td>
                    <td class="text-nowrap">@item.CompanyResultCodeName</td>
                    <td class="text-nowrap">@item.FollowContractNo</td>
                    <td class="text-nowrap">@item.AppointmentDate</td>
                    <td class="text-nowrap text-right">@item.Amount.ToFormat2Decimal()</td>
                    <td class="text-nowrap">@item.AppointmentContract</td>
                    <td class="text-nowrap">@item.Remark</td>
                    <td class="text-nowrap">@item.EmployerWorkGroup</td>
                    <td class="text-nowrap">@item.Collector</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>