@using CourtJustice.Domain.ViewModels;
@using System.Globalization;
@model IEnumerable<PaymentViewModel>;
@{
    Layout = null;
    var cultureInfor = new CultureInfo("th-TH");
}
<a class="btn btn-success btn-sm text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","Payments",null,Context.Request.Scheme)','เพิ่มข้อมูลการชำระ')"><i class="fa fa-plus"></i> เพิ่มข้อมูล</a>
<table class="table table-bordered table-hover data-table">
    <thead>
        <tr class="bg-primary text-white" role="row">
            @*       <th>
            @Html.DisplayNameFor(model => model.PaymentId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PaymentSeq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartOverdueStatus)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.EndOverdueStatus)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentSeq)
                </td>
                <td>
                    @item.PaymentDate.ToString("dd-MM-yyyy",cultureInfor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOverdueStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOverdueStatus)
                </td>
                <td class="w150">
                    <div class="d-inline">
                        <a class="btn btn-sm btn-primary text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","Payments",new {id=item.PaymentId},Context.Request.Scheme)','แก้ไขข้อมูลการชำระ')"><i class='fa fa-edit'></i></a>
                        <a class="btn btn-sm btn-danger text-white" onclick="confirmDeletePayment('@Url.Action("Delete","Payments",new {id=item.PaymentId},Context.Request.Scheme)');"><i class='fa fa-trash'></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
