@using CourtJustice.Domain.Models;
@model Employee

@{
    ViewData["Title"] = "ข้อมูลพนักงาน";
    var showAddressSetLookupUrl = @Url.Action("IndexAddressSetLookup", "AddressSets");
    var getAddressSetLookupUrl = @Url.Action("GetWithPaging", "AddressSets");
}
}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">แก้ไข @ViewData["Title"]</h3>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="EmployeeCode" class="control-label"></label>
                                    <input asp-for="EmployeeCode" class="form-control" readonly/>
                                    <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label asp-for="EmployeeName" class="control-label"></label>
                                    <input asp-for="EmployeeName" class="form-control" />
                                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" type="email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label asp-for="HireDate" class="control-label"></label>
                                    <input asp-for="HireDate" class="form-control date" asp-format="{0:yyyy-MM-dd}" />
                                    <span asp-validation-for="HireDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label asp-for="Target" class="control-label"></label>
                                    <input asp-for="Target" class="form-control" type="number" asp-format="{0:###,###.00}" />
                                    <span asp-validation-for="Target" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="Address" class="control-label"></label>
                                    <div class="input-group">
                                        <input asp-for="Address" type="text" class="form-control" id="txtAddressSetLookup" />
                                        <span class="input-group-append">
                                            <a href="#" onclick="showLookup('0','@showAddressSetLookupUrl','@getAddressSetLookupUrl');" class="btn btn-primary text-white">...</a>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="AddressDetail" class="control-label"></label>
                                    <input asp-for="AddressDetail" class="form-control" />
                                    <span asp-validation-for="AddressDetail" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-light">Back</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdGetAddressSetById", Url.Action("GetAddressById", "AddressSets"))
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
