@using CourtJustice.Domain.Models
@model IEnumerable<BankResultCode>


<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.BankResultCodeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankResultCodeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployerCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankResultCodeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankResultCodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employer.EmployerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>


                    <td class="w100">
                        <div class="d-inline">
                            <a class="btn btn-sm btn-primary text-white" asp-action="Edit" asp-route-id="@item.BankResultCodeId"><i class='fa fa-edit'></i></a>
                            <a class="btn btn-sm btn-danger text-white" onclick="confirmDelete('@item.BankResultCodeId');"><i class='fa fa-trash'></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>