@using CourtJustice.Domain.ViewModels
@model AppUserViewModel
@{
    ViewData["Title"] = "ข้อมูลผู้ใช้งาน";
    var groupId = Model.GroupId;

}

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">แก้ไข @ViewData["Title"]</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @*                       <input type="hidden" asp-for="Password" />
                            <input type="hidden" asp-for="UserCreated" />
                            <input type="hidden" asp-for="CreatedDateTime" />*@
                            <div class="form-group">
                                <label asp-for="UserId" class="control-label"></label>
                                <input asp-for="UserId" class="form-control" readonly="readonly" />
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            @*<div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            </div>*@
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" type="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">กลุ่มผู้ใช้งาน</label>
                                <select name="GroupId" class="form-control" id="GroupId" asp-for="GroupId" asp-items="@ViewBag.GroupUsers">
                                </select>
                                <span asp-validation-for="GroupId" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label class="control-label">ผู้ว่าจ้าง/ธนาคาร</label>
                                <select name="EmployerCode" class="form-control" asp-for="EmployerCode" asp-items="@ViewBag.Employers">
                                </select>
                                @*<span asp-validation-for="EmployerCode" class="text-danger"></span>*@
                            </div>
                            <div class="form-group">
                                <label class="control-label">หัวหน้างาน</label>
                                <select name="ManagerId" class="form-control" asp-for="ManagerId" asp-items="@ViewBag.Managers">
                                </select>
                                @*<span asp-validation-for="ManagerId" class="text-danger"></span>*@
                            </div>
                            <div class="form-group">
                                <label asp-for="Target" class="control-label"></label>
                                <input asp-for="Target" class="form-control" type="number" />
                                @*<span asp-validation-for="Target" class="text-danger"></span>*@
                            </div>


                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                </label>
                            </div>

                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-light">Back</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
