@using CourtJustice.Domain.Models;
@model IEnumerable<Lawyer>

<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.LawyerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LawyerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserUpdated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LawyerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LawyerName)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserUpdated)
                    </td>
                    <td class="w100">
                        <div class="d-inline">
                            <a class="btn btn-sm btn-primary text-white" asp-action="Edit" asp-route-id="@item.LawyerId"><i class='fa fa-edit'></i></a>
                            <a class="btn btn-sm btn-danger text-white" onclick="confirmDelete('@item.LawyerId');"><i class='fa fa-trash'></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>