@using CourtJustice.Domain.ViewModels;
@using System.Globalization;
@model IEnumerable<LoaneeRemarkViewModel>;
@{
    Layout = null;
}
<a class="btn btn-success btn-sm text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","LoaneeRemarks",null,Context.Request.Scheme)','เพิ่ม รายงายผลการติดตาม')"><i class="fa fa-plus"></i> Create New</a>
<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.Remark)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDatetime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankActionCodeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankResultCodeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyActionCodeName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CompanyResultCodeName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDatetime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankActionCodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankResultCodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyActionCodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyResultCodeName)
                    </td>
                    <td class="w150">
                        <div class="d-inline">
                            <a class="btn btn-sm btn-primary text-white" onclick="showInPopupXL('@Url.Action("AddOrEdit","LoaneeRemarks",new {id=item.LoaneeRemarkId},Context.Request.Scheme)','แก้ไขข้อมูลหมายเหตุ')"><i class='fa fa-edit'></i></a>
                            <a class="btn btn-sm btn-danger text-white" onclick="confirmDeleteLoaneeRemark('@Url.Action("Delete","LoaneeRemarks",new {id=item.LoaneeRemarkId},Context.Request.Scheme)');"><i class='fa fa-trash'></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
