@using CourtJustice.Domain.Models
@model IEnumerable<CarType>


<div class="table-responsive">
    <table class="table table-bordered table-hover data-table">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th>
                    @Html.DisplayNameFor(model => model.CarTypeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarTypeName)
                </th>

                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarTypeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarTypeName)
                    </td>


                    <td class="w100">
                        <div class="d-inline">
                            <a class="btn btn-sm btn-primary text-white" asp-action="Edit" asp-route-id="@item.CarTypeCode"><i class='fa fa-edit'></i></a>
                            <a class="btn btn-sm btn-danger text-white" onclick="confirmDelete('@item.CarTypeCode');"><i class='fa fa-trash'></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>